body
	font-family 'Lato', sans-serif
	font-weight 300
	background #ddd
	padding 0 1rem
	@media screen and (max-width: 600px)
		padding 0

input
	font-family 'Lato', sans-serif
	font-weight 300
	font-size 100%
