.controller
	width 10rem
	margin 2rem auto 0

	>button
		display block
		width 100%
		margin-top 0.5rem
		height 2rem
		background #a00
		border-radius 1rem
		border 0
		border-bottom 2px solid #600
		color #fff
		font-family 'Lato', sans-serif
		font-weight 300
		font-size 1rem
		text-align center
		&:active
			border-bottom 0
		&.highlighted
			margin-top 1.5rem
			background #444
			border-bottom-color #000
