@import url('http://fonts.googleapis.com/css?family=Lato:300,900')
@import reset

body
	font-family 'Lato', sans-serif
	font-weight 300
	background #ddd
	padding 0 1rem
	@media screen and (max-width: 600px)
		padding 0

header
	padding 1rem 0
	>h1
		color #a00
		text-align center
		font-size 2rem

width-name-column = 9%
width-total-column = 6%
width-points-columns = 100% - width-name-column - width-total-column
number-of-points-columns = 20

.scoring
	max-width 960px
	margin 0 auto

	>table
		width 100%
		table-layout fixed
		background #eee
	>table th
		font-weight 900
		color #444
	>table th, >table td
		width (width-points-columns / number-of-points-columns)
		text-align center
		vertical-align middle
		height 2rem
	>table .name
		width width-name-column
		text-align left
		padding-left 0.5rem
		overflow hidden
		text-overflow ellipsis
		@media screen and (max-width: 450px)
			padding-left 0.1rem
	>table .total
		width width-total-column
		text-align right
		padding-right 0.5rem
		@media screen and (max-width: 450px)
			padding-right 0.1rem
	>table .blue
		background #cdf
	>table .white
		background #fff
	>table>thead, >table>tbody
		border-top 3px solid #ccc
	>table>tbody
		border-bottom 3px solid #ccc
