width-name-column = 9%
width-total-column = 6%
width-points-columns = 100% - width-name-column - width-total-column
number-of-points-columns = 20

.scoring
	max-width 960px
	margin 0 auto

	>table
		width 100%
		table-layout fixed
		background #eee
	>table th
		font-weight 900
		color #444
	>table th, >table td
		width (width-points-columns / number-of-points-columns)
		text-align center
		vertical-align middle
		height 2rem
		line-height 2rem
	>table .name
		width width-name-column
		text-align left
		padding-left 0.5rem
		overflow hidden
		text-overflow ellipsis
		@media screen and (max-width: 450px)
			padding-left 0.1rem
		&.edit
			padding-left 0
			background #fff
			@media screen and (max-width: 450px)
				padding-left 0
			>input
				display inline-block
				width 100%
				height 100%
				line-height 1rem
				border 0
				padding 0 0 0 0.5rem
				margin 0
	>table .total
		width width-total-column
		text-align right
		padding-right 0.5rem
		@media screen and (max-width: 450px)
			padding-right 0.1rem
	>table .rolls
		font-size 80%
		color #333
		&.strike
			font-size 150%
			font-weight 900
			color rgba(170,0,0,0.7)
		&.spare
			font-size 90%
			font-weight 900
			color #a00
	>table .blue
		background darken(#cdf, 2%)
		&.rolls
			background #cdf
	>table .white
		background darken(#fff, 2%)
		&.rolls
			background #fff
	>table>thead, >table>tbody
		border-top 3px solid #ccc
	>table>tbody
		border-bottom 3px solid #ccc
