width-name-column = 9%
width-total-column = 6%
width-points-columns = 100% - width-name-column - width-total-column
number-of-points-columns = 20

blue-columns = #cdf
white-columns = #fff

.scoring
	max-width 960px
	margin 0 auto

	// Use fixed layout for table (see calculations above).
	>table
		width 100%
		table-layout fixed
		background #eee

	// Header is bold font and a bit lighter.
	>table th
		font-weight 900
		color #444

	// Setup all rolls/points columns.
	>table th, >table td
		width (width-points-columns / number-of-points-columns)
		text-align center
		vertical-align middle
		height 2rem
		line-height 2rem

	// Setup name column.
	>table .name
		width width-name-column
		text-align left
		padding-left 0.5rem
		overflow hidden
		text-overflow ellipsis
		white-space nowrap

		// Use less padding for small screens.
		@media screen and (max-width: 450px)
			padding-left 0.1rem

		// Names are navigatable, display it appropriately.
		&:focus
			outline 1px dashed #666

		// Names are edited using an inline input field.
		&.edit
			padding-left 0
			background #fff
			outline 1px solid #999
			>input
				display inline-block
				width 100%
				height 100%
				line-height 1rem
				border 0
				padding 0 0 0 0.5rem
				margin 0
				outline none

				// Use less padding for small screens (just as when displaying name).
				@media screen and (max-width: 450px)
					padding-left 0.1rem

	// Setup total column.
	>table .total
		width width-total-column
		text-align right
		padding-right 0.5rem

		// Use less padding for small screens.
		@media screen and (max-width: 450px)
			padding-right 0.1rem

	// Setup rolls columns with a bit smaller and lighter font.
	>table .rolls
		font-size 80%
		color #333

		// Strikes are shown as a bold red cross.
		&.strike
			font-size 150%
			font-weight 900
			color rgba(170,0,0,0.7) // just tint it down a bit

		// Spare is shown as a bold red slash.
		&.spare
			font-size 90%
			font-weight 900
			color #a00

	// Setup blue columns (every other).
	>table .blue
		background darken(blue-columns, 2%)
		&.rolls
			background blue-columns
			&.next
				background mix(#000, blue-columns, 40%)

	// Setup white columns (every other).
	>table .white
		background darken(white-columns, 2%)
		&.rolls
			background white-columns
			&.next
				background mix(#000, white-columns, 40%)

	// Setup horizontal line between players.
	>table>thead, >table>tbody
		border-top 3px solid #ccc
	>table>tbody
		border-bottom 3px solid #ccc
